.search {
  height: 150px;
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}
.search-input {
  height: 50px;
  width: 400px;
}
.button {
  height: 53px;
  position: absolute;
  top: -5px;
}
.sort {
  position: relative;
  border-radius: 0.3rem;
  width: 98px;
  left: 77.9vw;
  background-color: aliceblue;
}
