.toolbar {
  display: flex;
  background-size: contain;
  position: absolute;
  top: 2%;
  left: 2%;
  right: 2%;
}
.select-icon {
  background-image: url(https://icon-library.com/images/avatar-icon-images/avatar-icon-images-4.jpg);
  background-repeat: no-repeat;
}
.user-logo {
  margin-right: 12px;
}
